@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #72ceaf;
}

.fire {
  background-color: #eb7171;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}


.content{
    padding: 1rem;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
}



.content h1{
  font-family: 'Inter', sans-serif; 
  font-size: 40px;
  font-weight: 600;
  color: #1e1e1e;
  letter-spacing: -0.5px;
  margin: 0;
  padding: 0;
  border-left: 6px solid teal; 
  padding-left: 16px;
  transition: all 0.3s ease;
}   
.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem; 
    list-style: none;
    padding: 0;
    margin: 0;   
}




.pokemon{
  
  box-shadow:  8px -10px teal;
  margin: .5rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  color: #fff;
  flex-direction: column;
  display: flex;
}
.pokemon .name{
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
    margin-bottom: 0;
    
}


.pokemon .number{
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
    

}

.pokemon .types{

    padding: 0;
    margin: 0;
    list-style: none;

}

.pokemon .detail{
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    align-items: center;
    
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}       

.pokemon .detail img{
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button{
  margin: .25 0;
  font-size: .625rem;
  padding: .25rem .5rem;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  color: white;

}




@media screen and (min-width: 380px) {
    .pokemons {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (min-width: 576px) {
    .pokemons {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media screen and (min-width: 620px) {
    .pokemons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  

  @media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 0rem auto;
        border-radius: 1rem;
        
    }
    
}